<p id="notice"><%= notice %></p>

<p>
    <b>User:</b>
    <%= link_to @pushup_reminder.user.username, @pushup_reminder.user %>
</p>

<p>
  <b>Completed:</b>
  <%= @pushup_reminder.completed %>
</p>

<p>
  <b>Num pushups:</b>
  <%= @pushup_reminder.num_pushups %>
</p>

<p>
  <b>When sent:</b>
  <%= @pushup_reminder.when_sent %>
</p>

<% if @user.presence %>
    <%= link_to 'Edit', edit_user_pushup_reminder_path(@user, @pushup_reminder) %> |
    <%= link_to 'Back', user_pushup_reminders_path(@user) %>
<% else %>
    <%= link_to 'Edit', edit_pushup_reminder_path(@pushup_reminder) %> |
    <%= link_to 'Back', pushup_reminders_path %>
<% end %>
